// Primary
$marineBlue: rgb(2, 41, 90);
$purplishBlue: rgb(71, 61, 255);
$pastelBlue: rgb(173, 190, 255);
$stepBlue: rgb(191, 226, 253);
$strawberryRed: rgb(237, 53, 72);

// Neutral
$coolGray: rgb(150, 153, 171);
$transparentGray: rgba(171, 182, 231, 0.2);
$lightGray: rgb(214, 217, 230);
$magnolia: rgb(240, 246, 255);
$alabaster: rgb(250, 251, 255);
$white: rgb(255, 255, 255);
