@import '../../../styles/colors.scss';

.thankyouContainer {
    text-align: center;
    width: 23rem;
    margin: 2rem auto;

    .loaderContainer {
        margin: auto;
        width: 150px;
    }

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        color: $marineBlue;
        margin: 1rem;
    }

    .text {
        font-size: 0.8rem;
        color: $coolGray;
        line-height: 1.3rem;
    }
}