.thankyouContainer {
    text-align: center;
    width: 23rem;
    margin: 2rem auto;

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        color: rgb(2, 41, 90);
        margin: 1rem;
    }

    div {
        font-size: 0.8rem;
        color: rgb(150, 153, 171);
        // letter-spacing: 0.7px;
        line-height: 1.3rem;
    }
}