.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;

    .labelGroup {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0.7rem 0;
        width: 100%;
    }

    input {
        padding: 0.7em 1em;
        width: 100%;
        border-radius: 10px;
        font-size: 1.3rem;
    }

    .borderColorDefault {
        border: 1px solid rgb(150, 153, 171);
    }

    .borderColorError {
        border: 1px solid rgb(237, 53, 72);
    }
}