@import '../../styles/colors.scss';

.monthlyYearlyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $transparentGray;
    border-radius: 10px;
    padding: 1rem 0;

    .monthly,
    .yearly {
        color: $coolGray;
        font-weight: bold;
        transition: 0.3s ease;
    }

    .switch {
        margin: 0 1rem;
        border-radius: 10px;
    }

    .selected {
        color: $marineBlue;
        font-weight: bold;
        transition: 0.3s ease;
    }
}