.plan {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid #02295a;
    border-radius: 10px;
    height: 10.8rem;
    width: 9rem;
    padding: 1rem;

    .title {
        font-weight: bold;
        margin-bottom: 0.2rem;
    }

    .amount {
        color: rgb(150, 153, 171);
        font-size: 0.8rem;
    }

    .free {
        margin-top: 0.5rem;
        font-weight: bold;
        font-size: 0.7rem;
    }
}