@import '../../styles/colors.scss';

.goBackBtn,
.nextBtn,
.confirmBtn,
.noneBtn {
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    padding: 1.1rem 0;
    width: 8rem;
}

.noneBtn {
   color: inherit;
   background-color: inherit;
   cursor: default;
}

.goBackBtn {
    background-color: inherit;
    color: $coolGray;
    transition: color 0.3s ease;

    &:hover {
        color: $marineBlue;
    }
}

.nextBtn {
    background-color: $marineBlue;
    color: $magnolia;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $purplishBlue;
    }
}

.confirmBtn {
    background-color: $purplishBlue;
    color: $magnolia;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $marineBlue;
    }
}
