.planContent {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 100%;

    .planContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
    }
}


